@import '../../vars.css';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35vh;
    border-radius: 0.5rem;
    background: var(--gradient-bg);
    margin-bottom: 2rem;
}

.textBlock {
    padding: 5rem;
    width: 30rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--font-Raleway);
    color: var(--color-text);
}

.buttons {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.buttons div {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    font-family: var(--font-Inter);
    border-radius: 1.25rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s, filter 0.3s;
}

.buttons div:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
}

.buttons div:first-child {
    background-color: #7b6cdf;
}

.buttons div:last-child {
    border: 1px solid #ffffff;
}

.imgContainer {
    width: 30rem;
    height: 100%;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .container {
        height: 25vh;
    }

    .title {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: var(--font-Raleway);
        color: var(--color-text);
    }

    .buttons div {
        padding: 0.5rem 0.5rem;
        font-size: 0.75rem;
    }
}

@media (max-width: 768px) {
    .container {
        height: 20vh;
    }

    .textBlock {
        padding: 1.5rem;
        width: 100%;
        display: flex;
    }

    .title {
        font-size: 1.5rem;
    }

    .buttons div {
        padding: 0.5rem 0.75rem;
        font-size: 0.75rem;
    }

    .imgContainer {
        display: none;
    }
}
